Academics/Connected Services/LocalHostReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Academics/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicLayer" />
  <xs:element name="InsertStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="dto" nillable="true" type="q1:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="dto" nillable="true" type="q2:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="dto" nillable="true" type="q3:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentDatatable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentDatatableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="GetStudentDatatableResult" nillable="true" type="q4:ArrayOfDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="callSearchResult" nillable="true" type="q5:ArrayOfDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="dto" nillable="true" type="q6:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="dto" nillable="true" type="q7:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="dto" nillable="true" type="q8:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarksDatatable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarksDatatableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="GetMarksDatatableResult" nillable="true" type="q9:ArrayOfDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callSearchMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callSearchMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="callSearchMarksResult" nillable="true" type="q10:ArrayOfDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSemesterDatatable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSemesterDatatableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="GetSemesterDatatableResult" nillable="true" type="q11:ArrayOfDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsDatatable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsDatatableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LogicLayer" minOccurs="0" name="GetSubjectsDatatableResult" nillable="true" type="q12:ArrayOfDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>