Academics/Connected Services/LocalHostReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogicLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogicLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MarksID" type="xs:int" />
      <xs:element minOccurs="0" name="MarksScored" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameRollNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollNo" type="xs:int" />
      <xs:element minOccurs="0" name="SemesterDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SemesterID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectID" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO" nillable="true" type="tns:DTO" />
  <xs:complexType name="ArrayOfDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO" nillable="true" type="tns:DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO" nillable="true" type="tns:ArrayOfDTO" />
</xs:schema>